*.o
/linux/mysh
/linux/outfile.txt
.DS_Store

runtests.log

/p2/linux/mysh

/p2/linux/runtests.log

/p2/linux/out.txt

/p2/xv6/user/zombie.d
/p2/xv6/user/wc.d
/p2/xv6/user/usys.d
/p2/xv6/user/usertests.d
/p2/xv6/user/umalloc.d
/p2/xv6/user/ulib.d
/p2/xv6/user/tester.d
/p2/xv6/user/stressfs.d
/p2/xv6/user/sh.d
/p2/xv6/user/rm.d
/p2/xv6/user/printf.d
/p2/xv6/user/mkdir.d
/p2/xv6/user/ls.d
/p2/xv6/user/ln.d
/p2/xv6/user/kill.d
/p2/xv6/user/init.d
/p2/xv6/user/grep.d
/p2/xv6/user/getpinfotest.d
/p2/xv6/user/forktest.d
/p2/xv6/user/echo.d
/p2/xv6/user/cat.d
/p2/xv6/tools/mkfs.d
/p2/xv6/kernel/vm.d
/p2/xv6/kernel/vectors.S
/p2/xv6/kernel/vectors.d
/p2/xv6/kernel/uart.d
/p2/xv6/kernel/trapasm.d
/p2/xv6/kernel/trap.d
/p2/xv6/kernel/timer.d
/p2/xv6/kernel/sysproc.d
/p2/xv6/kernel/sysfile.d
/p2/xv6/kernel/syscall.d
/p2/xv6/kernel/swtch.d
/p2/xv6/kernel/string.d
/p2/xv6/kernel/spinlock.d
/p2/xv6/kernel/proc.d
/p2/xv6/kernel/pipe.d
/p2/xv6/kernel/picirq.d
/p2/xv6/kernel/multiboot.d
/p2/xv6/kernel/mp.d
/p2/xv6/kernel/main.d
/p2/xv6/kernel/lapic.d
/p2/xv6/kernel/kbd.d
/p2/xv6/kernel/kalloc.d
/p2/xv6/kernel/ioapic.d
/p2/xv6/kernel/initcode.d
/p2/xv6/kernel/ide.d
/p2/xv6/kernel/fs.d
/p2/xv6/kernel/file.d
/p2/xv6/kernel/exec.d
/p2/xv6/kernel/data.d
/p2/xv6/kernel/console.d
/p2/xv6/kernel/bootother.d
/p2/xv6/kernel/bootmain.d
/p2/xv6/kernel/bootasm.d
/p2/xv6/kernel/bio.d

/p2/.~lock.Datapoints.xlsx\#
